.Help {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__body {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    @media (max-width: 830px) {
        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }

    &__left {
        max-width: 500px;
        width: 100%;
        background-color: #004152;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        padding: 30px;
    }

    &__right {
        max-width: 500px;
        width: 100%;
    }
}






